<html xmlns="http://www.w3.org/1999/xhtml">

<body onload="document.forms.samlform.submit()">
    <noscript>
        <p>
            <strong>Note:</strong> Since your browser does not support Javascript, you must press the Continue button
            once to proceed.
        </p>
    </noscript>
    <form id="samlform"
        action="https://sts.shopdirect.com/adfs/ls/?binding=urn%3aoasis%3anames%3atc%3aSAML%3a2.0%3abindings%3aHTTP-POST"
        method="post">
        <div>
            <input type="hidden" name="SAMLRequest"
                value="PHNhbWxwOkF1dGhuUmVxdWVzdCBJRD0iXzdhNzk0ZmFmLTM1ZTktNGI5OC1hNzhhLTk1NTI2YWE0NmQzOSIgVmVyc2lvbj0iMi4wIiBJc3N1ZUluc3RhbnQ9IjIwMjAtMDktMjRUMTA6NDE6MTguMDQyWiIgRGVzdGluYXRpb249Imh0dHBzOi8vc3RzLnNob3BkaXJlY3QuY29tL2FkZnMvbHMvIiBGb3JjZUF1dGhuPSJmYWxzZSIgSXNQYXNzaXZlPSJmYWxzZSIgUHJvdG9jb2xCaW5kaW5nPSJ1cm46b2FzaXM6bmFtZXM6dGM6U0FNTDoyLjA6YmluZGluZ3M6SFRUUC1QT1NUIiBBc3NlcnRpb25Db25zdW1lclNlcnZpY2VVUkw9Imh0dHBzOi8vc2hvcGRpcmVjdC5yZXNwb25kLmFwdGVhbmNsb3VkLmNvbS9SZXNwb25kL0FjY291bnQvU2FtbEFzc2VydGlvbiIgeG1sbnM6c2FtbHA9InVybjpvYXNpczpuYW1lczp0YzpTQU1MOjIuMDpwcm90b2NvbCI+PHNhbWw6SXNzdWVyIHhtbG5zOnNhbWw9InVybjpvYXNpczpuYW1lczp0YzpTQU1MOjIuMDphc3NlcnRpb24iPnVybjphcHRlYW46cmVzcG9uZDwvc2FtbDpJc3N1ZXI+PHNhbWxwOk5hbWVJRFBvbGljeSBBbGxvd0NyZWF0ZT0idHJ1ZSIgLz48L3NhbWxwOkF1dGhuUmVxdWVzdD4=" />
            <input type="hidden" name="RelayState"
                value="http://shopdirect.respond.apteancloud.com:50019/Respond/Script/FieldMetadata/enGB/20200905230333" />
        </div>
        <noscript>
            <div>
                <input type="submit" value="Continue" />
            </div>
        </noscript>
    </form>
</body>

</html>
<html xmlns="http://www.w3.org/1999/xhtml">

<body onload="document.forms.samlform.submit()">
    <noscript>
        <p>
            <strong>Note:</strong> Since your browser does not support Javascript, you must press the Continue button
            once to proceed.
        </p>
    </noscript>
    <form id="samlform"
        action="https://sts.shopdirect.com/adfs/ls/?binding=urn%3aoasis%3anames%3atc%3aSAML%3a2.0%3abindings%3aHTTP-POST"
        method="post">
        <div>
            <input type="hidden" name="SAMLRequest"
                value="PHNhbWxwOkF1dGhuUmVxdWVzdCBJRD0iXzliMzQxZDgxLTkxNWMtNDM0OS04N2Q2LWI2ZGYxOTlhYTA2ZSIgVmVyc2lvbj0iMi4wIiBJc3N1ZUluc3RhbnQ9IjIwMjAtMDktMjRUMTA6NDE6MTguMDI5WiIgRGVzdGluYXRpb249Imh0dHBzOi8vc3RzLnNob3BkaXJlY3QuY29tL2FkZnMvbHMvIiBGb3JjZUF1dGhuPSJmYWxzZSIgSXNQYXNzaXZlPSJmYWxzZSIgUHJvdG9jb2xCaW5kaW5nPSJ1cm46b2FzaXM6bmFtZXM6dGM6U0FNTDoyLjA6YmluZGluZ3M6SFRUUC1QT1NUIiBBc3NlcnRpb25Db25zdW1lclNlcnZpY2VVUkw9Imh0dHBzOi8vc2hvcGRpcmVjdC5yZXNwb25kLmFwdGVhbmNsb3VkLmNvbS9SZXNwb25kL0FjY291bnQvU2FtbEFzc2VydGlvbiIgeG1sbnM6c2FtbHA9InVybjpvYXNpczpuYW1lczp0YzpTQU1MOjIuMDpwcm90b2NvbCI+PHNhbWw6SXNzdWVyIHhtbG5zOnNhbWw9InVybjpvYXNpczpuYW1lczp0YzpTQU1MOjIuMDphc3NlcnRpb24iPnVybjphcHRlYW46cmVzcG9uZDwvc2FtbDpJc3N1ZXI+PHNhbWxwOk5hbWVJRFBvbGljeSBBbGxvd0NyZWF0ZT0idHJ1ZSIgLz48L3NhbWxwOkF1dGhuUmVxdWVzdD4=" />
            <input type="hidden" name="RelayState"
                value="http://shopdirect.respond.apteancloud.com:50019/Respond/Script/IntegrationJavascript/CaseManager/20160313183032" />
        </div>
        <noscript>
            <div>
                <input type="submit" value="Continue" />
            </div>
        </noscript>
    </form>
</body>

</html>