<!DOCTYPE html>
<html>

<head>
    <link rel="icon" type="image/png" sizes="32x32" href="Images/favicon.png" />
    <title>Comics - Katcha.fun</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/crop.js"></script>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/shop.css" />
    <meta charset="utf-8" />
    <link rel="stylesheet" href="https://use.typekit.net/nji1fpr.css" />
    <link rel="stylesheet" href="css/nav.css" />
    <script src="js/nav.js"></script>
    <script src="https://kit.fontawesome.com/f554677df7.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
</head>

<body class="main-page-bg">
    <div class="topnav" id="myTopnav">
        <a href="#">katcha.fun</a>
        <a href="index.html">Home</a>
        <a href="about.html">About</a>
        <a href="comics.html">Comics</a>
        <a href="illustration.php">Illustration</a>
        <a href="postcardclub.html">Postcard Club</a>
        <a href="https://www.etsy.com/shop/KatchaFun" target="_blank" class="active">Shop</a>
        <a href="contact.html">Talk to Me</a>
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
        </a>
    </div>


    <h1 class="display-3">Digital Downloads!</h1>

    <div class="body">



        <div id="r-opacity" class="comic">
            <div class="front">
                <img class="img-front" src="./Images/ugliest/ugliest.png" alt="">
                <div class="front-info">
                    <h3 class="name yellow-text">The Ugliest</h3>
                    <p class="blurb">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa, consequuntur. Lorem
                        ipsum,
                        dolor sit amet consectetur adipisicing elit. Ab repudiandae assumenda tenetur, quibusdam vero
                        aliquam quis
                        aliquid animi doloremque alias quae. Delectus minima veritatis nesciunt, alias praesentium
                        tempora. Ratione,
                        deserunt amet? Facere perspiciatis sit aliquam, consectetur labore quam saepe nisi quae debitis
                        vitae aut
                        veritatis rem voluptatum quia fugiat quos? Est esse amet dolores alias ex eum ipsum ullam
                        repudiandae dicta,
                        reprehenderit ducimus dolore libero modi ratione ipsa, saepe culpa delectus beatae minima
                        nesciunt
                        consequuntur unde aliquid ipsam? Fugiat ut consectetur mollitia? Maiores consequatur blanditiis
                        sequi
                        architecto? Amet rerum cum, natus dicta cumque quos? Recusandae quod porro maiores vel nihil
                        placeat vero
                        atque, commodi, quam eligendi mollitia consequatur, velit non!</p>
                </div>
            </div>
            <div class="back">
                <div class="comic-info yellow-text">
                    <div class="comic-detail"><span>Price</span>€6.00</div>
                    <div class="comic-detail"><span>Language</span>English</div>
                </div>
                <a class="paypal pp-yellow a-brown"
                    href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=924SFCD6EEV66"
                    target="_blank"> <i class="fab fa-paypal fa-lg"></i> Buy
                    Now</a>
                <p class="yellow-text">What's <a href="https://www.paypal.com/uk/home/">PayPal?</a></p>
            </div>
            <div class="background brown">

            </div>
        </div>
        <div id="y-opacity" class="comic">
            <div class="front">
                <img class="img-front" src="./Images/ugliest/haesslich.png" alt="">
                <div class="front-info yellow-text">
                    <h3 class="name brown-text">Das Hässlichste</h3>
                    <p class="blurb">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ipsa, consequuntur. Lorem
                        ipsum,
                        dolor sit amet consectetur adipisicing elit. Ab repudiandae assumenda tenetur, quibusdam vero
                        aliquam quis
                        aliquid animi doloremque alias quae. Delectus minima veritatis nesciunt, alias praesentium
                        tempora. Ratione,
                        deserunt amet? Facere perspiciatis sit aliquam, consectetur labore quam saepe nisi quae debitis
                        vitae aut
                        veritatis rem voluptatum quia fugiat quos? Est esse amet dolores alias ex eum ipsum ullam
                        repudiandae dicta,
                        reprehenderit ducimus dolore libero modi ratione ipsa, saepe culpa delectus beatae minima
                        nesciunt
                        consequuntur unde aliquid ipsam? Fugiat ut consectetur mollitia? Maiores consequatur blanditiis
                        sequi
                        architecto? Amet rerum cum, natus dicta cumque quos? Recusandae quod porro maiores vel nihil
                        placeat vero
                        atque, commodi, quam eligendi mollitia consequatur, velit non!</p>
                </div>
            </div>
            <div class="back">
                <div class="comic-info brown-text">
                    <div class="comic-detail"><span>Preis</span>€6.00</div>
                    <div class="comic-detail"><span>Sprache</span>Deutsch</div>
                </div>
                <a class="paypal pp-brown a-yellow"
                    href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=924SFCD6EEV66"
                    target="_blank"> <i class="fab fa-paypal fa-lg"></i> Jetzt Kaufen</a>
                <p class="brown-text">Was ist <a class="brown-text" href="https://www.paypal.com/de/home/">PayPal?</a>
                </p>
            </div>
            <div class="background yellow">

            </div>
        </div>
    </div>
    <div class="footer">All Content &copy; katcha.fun</div>
    <script src="js/card.js"></script>
</body>

</html>